header.header(data-da=".wrapper,1279,0")
	a.header__logo
		+icon('icon-logo-img-tablet', 'header__logo--image', '22', '50')
		+icon('icon-logo-text-tablet', 'header__logo--text', '142', '24')
	.header__contacts
		a.header__link(href="tel:+79876543210")
			+icon('icon-phone', 'header__icon', '14', '20')
			span.header__phone #[span.header__link--grey +7] #[span.header__link--yellow (987)] 654-12-10
		a.header__link(href="#")
			+icon('icon-consult', 'header__icon', '20', '20')
			span.header__chat Консультация
	ul.header__social.header-social(data-da=".nav,1279,0")
		li.header-social__item
			a.header-social__link(href="#")
				span.visually-hidden Ссылка на инстаграм
				+icon('icon-instagram', 'header-social__icon', '20', '20')
		li.header-social__item
			a.header-social__link(href="#")
				span.visually-hidden Ссылка на телеграм
				+icon('icon-telegram', 'header-social__icon', '20', '17')
		li.header-social__item
			a.header-social__link(href="#")
				span.visually-hidden Ссылка на facebook
				+icon('icon-facebook', 'header-social__icon', '20', '20')
		li.header-social__item
			a.header-social__link(href="#")
				span.visually-hidden Ссылка на whatsApp
				+icon('icon-whatsapp', 'header-social__icon', '20', '20')
	.header__sandwich.sandwich
		.sandwich__line.sandwich__line--top
		.sandwich__line.sandwich__line--middle
		.sandwich__line.sandwich__line--bottom
