section.complex
	.complex__top
		img.complex__logo(src="static/images/content/object-logo-hide.png" alt="Логотип  hide" width="100" height="100")
		.complex__box
			.complex__top-line
				h1.complex__title Квартира № 253
				.complex__prices
					span.complex__price ЖК #[b Hide]
					span.complex__price #[b 38 061 940 &#8381;]
			.complex__locations
				p.complex__location
					+icon('icon-metro', 'complex__location--icon', '20', '14')
					span Кутузовская
				p.complex__location
					+icon('icon-locations', 'complex__location--icon', '16', '20')
					span 1-й Сетуньский проезд, вл. 6-10
			p.complex__roominess Комнатность: #[span.complex__roominess--light 3]
	.complex__features
		span.complex__feature #[b Корпус:] 1
		span.complex__feature #[b Этаж:] 38
		span.complex__feature #[b Площадь:] 73.9#[sup 2]
		span.complex__feature #[b Площадь:] 73.9#[sup 2]
	p.complex__text.complex__text--bold Neque egestas semper gravida faucibus faucibus id magnis. Facilisi vitae aliquam et risus phasellus auctor tellus duis. Nulla volutpat, enim convallis feugiat tristique eu eget et ornare. Accumsan sed vulputate tortor gravida potenti lacus, faucibus nullam turpis. A cursus eget varius quisque odio. Tempus tincidunt elit ullamcorper fermentum. Cursus faucibus ut mauris nisl, diam est ut est.
	p.complex__text Eu quam maecenas purus iaculis nullam sed odio tortor. Nisl mattis orci pulvinar hac tellus sollicitudin. Consectetur ullamcorper leo at augue. Mi id in mi nibh massa sed tempus. Et habitant velit morbi nulla sed. A phasellus vulputate accumsan auctor leo. Ac placerat sit lectus eu nisl. Gravida lacus, eu at fusce. Quis id hendrerit ac pellentesque nunc. Lacus ultricies odio vestibulum maecenas faucibus tincidunt arcu leo. Volutpat mauris, tincidunt habitasse sit viverra quam ac aliquam quam. Tellus enim commodo eget rhoncus nisi lectus tellus risus. Volutpat nibh adipiscing integer massa suspendisse suspendisse.
	p.complex__text Consequat maecenas est cras et quis neque. Massa sed tellus placerat platea odio sed. Scelerisque proin ornare vitae mauris non, lacus eu scelerisque. Pellentesque nunc quam sapien egestas habitasse ultrices id nisi. Ipsum ipsum odio non ut egestas amet ac. Ipsum massa cras arcu, eros. Feugiat tellus aliquam dolor fames. Placerat feugiat pellentesque amet, id aliquet vel. Quam suscipit interdum sed tristique cursus quam. At orci ut nulla sagittis, ultrices. Mauris tortor, velit adipiscing aliquet leo, ultrices. Faucibus elementum egestas odio quisque pellentesque. Ornare scelerisque sed sem purus vel risus orci, vestibulum id. In laoreet ut orci adipiscing amet odio. At diam, viverra ut sociis odio at lacus. Vivamus in elit nisl urna, aliquam elementum magnis. Massa tortor dui, vulputate egestas lorem et est, donec. Nisi diam netus ac dignissim iaculis amet a felis sed. Semper erat lacinia felis id in phasellus. Quam commodo turpis pellentesque lectus risus.
