section.complex
	.complex__top
		img.complex__logo(src="static/images/content/object-logo-hide.png" alt="Логотип  hide" width="100" height="100")
		.complex__box
			.complex__top-line
				h1.complex__title Hide
				.complex__prices
					span.complex__price от #[b 17 133 715 &#8381;]
					span.complex__price до #[b 38 061 940 &#8381;]
			.complex__locations
				p.complex__location
					+icon('icon-metro', 'complex__location--icon', '20', '14')
					span Кутузовская
				p.complex__location
					+icon('icon-locations', 'complex__location--icon', '16', '20')
					span 1-й Сетуньский проезд, вл. 6-10
			p.complex__roominess Комнатность: #[span.complex__roominess--light 2, 3, 4]
	p.complex__text.complex__text--bold Жилой комплекс «City Bay» — это настоящее открытие для тех, кто ценит жизнь в городе и любит природу. Именно здесь полноценная инфраструктура сочетается с собственной благоустроенной набережной, а современная архитектура выглядит еще эффектнее на фоне реки.
	p.complex__text «City Bay» отличает проницаемая структура квартальной застройки Нью-Йорка, благодаря чему создаётся комфорт как на уровне двора, так и на уровне всего района. Разноэтажная застройка от 11 до 52 этажей полностью удовлетворит актуальные потребности покупателей в формате жилья.
	p.complex__text Четыре квартала «City Bay» — Atlantic, Pacific, Indian, North — четыре мировых океана, продолжают тему большой воды и cимволизируют единство и разнообразие мира.
	ul.complex__advantages-list
		li.complex__advantages-item
			span.complex__advantages City Bay — новый жилой комплекс бизнес — класса на берегу Москвы реки;
		li.complex__advantages-item
			span.complex__advantages Лёгкий доступ ко всем городским маршрутам. МЦД «Трикотажная» 5 мин пешком;
		li.complex__advantages-item
			span.complex__advantages Потрясающие виды из панорамных окон на Москва — реку;
		li.complex__advantages-item
			span.complex__advantages Современная архитектура от архитектурного бюро Kamen;
		li.complex__advantages-item
			span.complex__advantages Европейский подход к благоустройству от ведущего ландшафтного бюро ARTEZA;
		li.complex__advantages-item
			span.complex__advantages Дизайнерская отделка лобби;
		li.complex__advantages-item
			span.complex__advantages Планировки, выполненные с учетом интересов жителей;
		li.complex__advantages-item
			span.complex__advantages Собственные террасы;
		li.complex__advantages-item
			span.complex__advantages Продуманная концепция инфраструктуры: лаундж зоны, детский сад, фитнес — центр, супермаркет, кафе и рестораны, салон красоты и службы сервиса;
		li.complex__advantages-item
			span.complex__advantages Огороженная территории с ограниченным доступом;
		li.complex__advantages-item
			span.complex__advantages Двор без машин
