.object {
  background-color: $bg-gray-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 32px 0 0;
  position: fixed;
  right: 0;
  width: calc(100% - 54.68% - 200px);
  &--index {
    @media screen and (max-width: $tablet-size) {
      height: unset;
      overflow: unset;
      padding: 30px 0;
      position: relative;
      width: 100%;
    }
  }
  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;
    padding: 0 40px;
    @media screen and (max-width: 1500px) {
      padding: 0 20px;
    }
    @media screen and (max-width: $tablet-size) {
      margin: 0;
    }
  }
  &__count {
    color: $gray-color;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    @media screen and (max-width: $tablet-size) {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &--complex {
    padding: 0;
  }
  &--selection {
    background-color: transparent;
  }
}

@import './sorting/sorting';
@import './apartments/apartments';
