footer { flex: 0 0 auto; }
.footer {
  background-color: $gray-color;
  margin-top: auto;
  padding: 30px 40px 55px;
  &__row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 0;
  }
  &__left-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 17%;
  }
  &__middle-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 17%;
  }
  &__right-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 46.5%;
  }
  &__logo {
    margin: 0 0 30px 0;
  }
  &__locations {
    margin: 0 0 20px 0;
    padding-left: 25px;
    position: relative;
  }
  &__locations--icon {
    fill: $white;
    left: 0;
    position: absolute;
    top: 0;
  }
  &__locations-text {
    color: $light-grey-color;
    font-family: $secont-font;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
  &__phones {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    padding-left: 25px;
    position: relative;
  }
  &__phones--icon {
    fill: $white;
    left: 0;
    position: absolute;
    top: 0;
  }
  &__phone-box {
    align-items: center;
    display: flex;
    &:not(:last-child) {
      margin: 0 0 5px 0;
    }
  }
  &__link {
    color: $white;
    font-family: $secont-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none;
    &--grey {
      color: $light-grey-color;
    }
    &--yellow {
      color: $yellow-color;
    }
  }
  &__phone-text {
    color: $light-grey-color;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 5px;
  }
  &__times {
    padding-left: 25px;
    position: relative;
  }
  &__times--icon {
    fill: $white;
    left: 0;
    position: absolute;
    top: 0;
  }
  &__time {
    color: $white;
    font-family: $secont-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    span {
      color: $light-grey-color;
    }
  }
  &__bottom {
    align-items: center;
    border-top: 1px solid $border-grey-color;
    display: flex;
    justify-content: space-between;
    margin: 0 -40px;
    padding: 20px 40px 0;
  }
  &__copyright {
    color: $light-grey-color;
    font-family: $secont-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  &__create {
    align-items: center;
    display: flex;
    font-family: $secont-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: $light-grey-color;
    &--icon {
      margin: 0 0 0 5px;
    }
    &--link {
      display: block;
      font-size: 0;
    }
  }
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -10px 0;
  &__item {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin: 0 10px;
    padding-top: 20px;
  }
  &__link {
    font-size: 0;
    transition: all ease-out 0.15s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__icon {
    fill: $white;
  }
}

.footer-nav {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    align-items: center;
    display: flex;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
  &__link {
    color: $white;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: all ease-out 0.15s;
    &:hover {
      opacity: 0.7;
    }
  }
}
