extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'
	-var mainClass = 'page'

block content
	main(class=mainClass)
		include modules/nav/main-nav
		include pages/index/main
		include pages/index/object/object
