header.header
	.header__contacts
		a.header__link(href="tel:+79876543210")
			+icon('icon-phone', 'header__icon', '14', '20')
			span.header__phone #[span.header__link--grey +7] #[span.header__link--yellow (987)] 654-12-10
		a.header__link(href="tel:+79876543210")
			+icon('icon-consult', 'header__icon', '20', '20')
			span.header__chat Конлультация
	.header__social
		a.header__social-link(href="#")
			span.visually-hidden Ссылка на инстаграм
			+icon('icon-instagram', 'header__social-icon', '20', '20')
		a.header__social-link(href="#")
			span.visually-hidden Ссылка на телеграм
			+icon('icon-telegram', 'header__social-icon', '20', '17')
		a.header__social-link(href="#")
			span.visually-hidden Ссылка на facebook
			+icon('icon-facebook', 'header__social-icon', '20', '20')
		a.header__social-link(href="#")
			span.visually-hidden Ссылка на whatsApp
			+icon('icon-whatsapp', 'header__social-icon', '20', '20')
