// Colors
$white: #fff;
$black: #000;
$bg-gray-color: #eaeaea;
$border-grey-color: #636363;
$border-light-color: #d3d3d3;
$gray-color: #4d4d4d;
$dark-grey-color: #c4c4c4;
$light-grey-color: #a6a6a6;
$yellow-color: #ffcb05;

// Sizes
$base-font-size: 16px;

$mobile-siae: 787px;
$tablet-size: 1279px;
$mobile-size: 767px;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$main-font: 'Roboto', sans-serif;
$secont-font: 'Roboto-Condensed', sans-serif;
