#complex-map
.map-complex__inner
	ul.map-complex__filter-list
		li.map-complex__filter-item
			button.map-complex__button._active(type="button") Все
		li.map-complex__filter-item
			button.map-complex__button(type="button") Досуг
		li.map-complex__filter-item
			button.map-complex__button(type="button") Медицина
		li.map-complex__filter-item
			button.map-complex__button(type="button") Образование
		li.map-complex__filter-item
			button.map-complex__button(type="button") Парки
		li.map-complex__filter-item
			button.map-complex__button(type="button") Торговля
		li.map-complex__filter-item
			button.map-complex__button(type="button") ТЦ
