.filter {
  @media screen and (max-width: $tablet-size) {
    padding: 0 30px;
  }
  @media screen and (max-width: $mobile-size) {
    padding: 0 20px;
  }
  &__main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    @media screen and (max-width: $tablet-size) {
      margin: 0 0 50px 0;
    }
    @media screen and (max-width: $mobile-size) {
      flex-wrap: wrap;
      justify-content: unset;
      margin: -20px -10px 20px;
    }
  }
  &__box {
    flex: 0 0 26.7%;
    @media screen and (max-width: $mobile-size) {
      flex: 0 0 50%;
      padding: 20px 10px 0;
    }
  }
  &__search-wrapper {
    @media screen and (max-width: $mobile-size) {
      flex: 0 0 50%;
      padding: 20px 10px 0;
    }
  }
  &__search {
    flex: 0 0 13.4%;
    @media screen and (max-width: $tablet-size) {
      padding: 10px 15px;
    }
    span {
      position: relative;
      &::after {
        content: '';
        border-color: transparent transparent transparent $white;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        height: 0;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
      }
    }
  }
  &__parameters {
    display: flex;
    @media screen and (max-width: $tablet-size) {
      justify-content: space-between;
    }
    @media screen and (max-width: $mobile-size) {
      flex-direction: column;
      justify-content: unset;
    }
  }
  &__parameters--inner {
    display: flex;
    @media screen and (max-width: $mobile-size) {
      margin: 0 0 60px 0;
    }
  }
  &__button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: $gray-color;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    transition: all ease-out 0.15s;
    text-decoration: none;
    &:not(:last-child) {
      margin: 0 30px 0 0;
      @media screen and (max-width: $mobile-size) {
        margin: 0 0 0 20px;
      }
    }
    &:first-child {
      @media screen and (max-width: $mobile-size) {
        order: 2;
      }
    }
    span {
      margin: 0 0 0 10px;
      @media screen and (max-width: $mobile-size) {
        font-size: 14px;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.filter-tabs {
  display: none;
  @media screen and (max-width: $tablet-size) {
    display: flex;
  }
  @media screen and (max-width: $mobile-size) {
    order: 2;
  }
  &__tab {
    display: none;
    @media screen and (max-width: $tablet-size) {
      align-items: center;
      background-color: transparent;
      border: 1px solid $bg-gray-color;
      color: $gray-color;
      display: flex;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      margin: 0;
      padding: 15px;
      position: relative;
    }
    @media screen and (max-width: $mobile-size) {
      justify-content: center;
      &--object-map {
        flex: 1 0 auto;
      }
    }
    &._active {
      @media screen and (max-width: $tablet-size) {
        background-color: $bg-gray-color;
      }
    }
  }
  &__icon {
    display: none;
    @media screen and (max-width: $tablet-size) {
      display: block;
      fill: $yellow-color;
      margin: 0 10px 0 0;
    }
  }
}
