.popup.popup_additional-parameters
	.popup__content
		.popup__body
			button.popup__close
			.popup__header
				+icon('icon-parameters', 'popup__title-icon', '20', '20')
				h2.popup__title Дополнительные параметры
			ul.popup__parameters.popup-parameters
				li.popup-parameters__item
					h3.popup-parameters__title По ставке аренды<br> за м2 в год
					ul.popup-parameters__sub-list
						li.popup-parameters__sub-item
							span.popup-parameters__name более 40 000 &#8381;
						li.popup-parameters__sub-item
							span.popup-parameters__name от 30 000 &#8381; до 40 000 &#8381;
						li.popup-parameters__sub-item
							span.popup-parameters__name от 20 000 &#8381; до 30 000 &#8381;
						li.popup-parameters__sub-item
							span.popup-parameters__name до 20 000 &#8381;
				li.popup-parameters__item
					h3.popup-parameters__title По планировке
					ul.popup-parameters__sub-list
						li.popup-parameters__sub-item
							span.popup-parameters__name Открытая планировка
						li.popup-parameters__sub-item
							span.popup-parameters__name Студийная планировка
						li.popup-parameters__sub-item
							span.popup-parameters__name Смешанная планировка
				li.popup-parameters__item
					h3.popup-parameters__title Популярное
					ul.popup-parameters__sub-list
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира в бизнес-центре
						li.popup-parameters__sub-item
							span.popup-parameters__name Аренда квартир 1 000 м2
						li.popup-parameters__sub-item
							span.popup-parameters__name Аренда квартир 500 м2
						li.popup-parameters__sub-item
							span.popup-parameters__name Аренда элитных квартир
				li.popup-parameters__item
					h3.popup-parameters__title По местоположению
					ul.popup-parameters__sub-list
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира на Арбате
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира в центре Москвы
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира на Белорусской
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира на Варшавском шоссе
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира на Волгоградском проспекте
						li.popup-parameters__sub-item
							span.popup-parameters__name Квартира на Дмитровском шоссе
				li.popup-parameters__item
					h3.popup-parameters__title По типу здания
					ul.popup-parameters__sub-list
						li.popup-parameters__sub-item
							span.popup-parameters__name Особняк
						li.popup-parameters__sub-item
							span.popup-parameters__name Бизнес-центр
						li.popup-parameters__sub-item
							span.popup-parameters__name Бизнес-парк
						li.popup-parameters__sub-item
							span.popup-parameters__name Многофункциональный комплекс
						li.popup-parameters__sub-item
							span.popup-parameters__name Административное здание
						li.popup-parameters__sub-item
							span.popup-parameters__name Офис в жилом комплексе
				li.popup-parameters__item
					h3.popup-parameters__title По назначению здания
					ul.popup-parameters__sub-list
						li.popup-parameters__sub-item
							span.popup-parameters__name Loft
						li.popup-parameters__sub-item
							span.popup-parameters__name Автосервис
						li.popup-parameters__sub-item
							span.popup-parameters__name Аренда рабочих мест
						li.popup-parameters__sub-item
							span.popup-parameters__name Здания за пределами МКАД
						li.popup-parameters__sub-item
							span.popup-parameters__name Имущественный комплекс
						li.popup-parameters__sub-item
							span.popup-parameters__name Инвестиционный проект
