.popup.popup_for-your-task
	.popup__content
		.popup__body._for-your-task
			button.popup__close
			.popup__header
				+icon('icon-target', 'popup__title-icon', '20', '20')
				h2.popup__title ЖК под вашу задачу
			form.for-your-task(action="", method="get")
				ul.for-your-task__list
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option1" id="option1")
						label.for-your-task__label(for="option1") Tortor luctus ut sed
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option2" id="option2")
						label.for-your-task__label(for="option2") Nascetur gravida condimentum sit
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option3" id="option3")
						label.for-your-task__label(for="option3") Arcu sapien quis vulputate
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option4" id="option4")
						label.for-your-task__label(for="option4") A, condimentum adipiscing pulvinar
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option5" id="option5")
						label.for-your-task__label(for="option5") Ornare eget interdum risus
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option6" id="option6")
						label.for-your-task__label(for="option6") Sed nisl netus lectus
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option7" id="option7")
						label.for-your-task__label(for="option7") Blandit augue phasellus hendrerit
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option8" id="option8")
						label.for-your-task__label(for="option8") Faucibus bibendum pharetra, mi
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option9" id="option9")
						label.for-your-task__label(for="option9") Penatibus vitae consectetur et
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option10" id="option10")
						label.for-your-task__label(for="option10") Dui, ornare pulvinar pretium
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option11" id="option11")
						label.for-your-task__label(for="option11") Massa amet, vel elit
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option12" id="option12")
						label.for-your-task__label(for="option12") Convallis fames semper elementum
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option13" id="option13")
						label.for-your-task__label(for="option13") Nec ornare egestas viverra
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option14" id="option14")
						label.for-your-task__label(for="option14") Et et ac quis
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option15" id="option15")
						label.for-your-task__label(for="option15") Nisl, aliquet aliquam vestibulum
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option16" id="option16")
						label.for-your-task__label(for="option16") Sed dolor placerat gravida
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option17" id="option17")
						label.for-your-task__label(for="option17") Egestas quis vitae cras
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option18" id="option18")
						label.for-your-task__label(for="option18") Lacus, tortor quis habitant
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option19" id="option19")
						label.for-your-task__label(for="option19") Lacus, tortor quis habitant
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option20" id="option20")
						label.for-your-task__label(for="option20") Elit, viverra ipsum et
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option21" id="option21")
						label.for-your-task__label(for="option21") Nulla faucibus quis gravida
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option22" id="option22")
						label.for-your-task__label(for="option22") Urna, vitae sit lacus
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option23" id="option23")
						label.for-your-task__label(for="option23") Etiam nascetur eu, in
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option24" id="option24")
						label.for-your-task__label(for="option24") Et morbi eu enim
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option25" id="option25")
						label.for-your-task__label(for="option25") Vitae, amet aliquet mollis
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option26" id="option26")
						label.for-your-task__label(for="option26") Risus, euismod eget urna
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option27" id="option27")
						label.for-your-task__label(for="option27") Tempor, odio velit pulvinar
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option28" id="option28")
						label.for-your-task__label(for="option28") Gravida diam aliquet elit
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option29" id="option29")
						label.for-your-task__label(for="option29") Sapien faucibus a pellentesque
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option30" id="option30")
						label.for-your-task__label(for="option30") Diam enim at ut
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option31" id="option31")
						label.for-your-task__label(for="option31") Hac sed mattis metus
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option32" id="option32")
						label.for-your-task__label(for="option32") Sit sagittis lectus etiam
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option33" id="option33")
						label.for-your-task__label(for="option33") Sit posuere at cursus
					li.for-your-task__item
						input.checkbox._js-for-your-task-item(type="checkbox", name="option34" id="option34")
						label.for-your-task__label(for="option34") Massa dui netus maecenas
				.for-your-task__bottom
					button.button.button--transparent.for-your-task__button-check(type="button")
						+icon('icon-check', 'for-your-task__icon', '20', '20')
						span.for-your-task__button-text Выбрать все
					button.button.button--transparent.for-your-task__button-undo(type="button")
						+icon('icon-undo', 'for-your-task__icon', '20', '20')
						span.for-your-task__button-text Отменить все
					button.button.for-your-task__search(type="submit")
						span.for-your-task__button-text Найти
