.dignity-complex__col
	h2.dignity-complex__title Достоинства
	ul.dignity-complex__list
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Стоимость квадратного метра
			.dignity-complex__text В основном, стоимость жилья в новостройках повышается в зависимости от стадии готовности, то есть - на начальном этапе застройки можно купить квартиру по цене ниже, чем та же самая квартира будет стоить в почти готовом доме. Эта зависимость постепенно становится не столь выраженной в связи с переходом отрасли на проектное финансирование, но в целом, правило по-прежнему актуально и в некоторых случаях позволяет сэкономить.
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Стоимость ипотеки
			.dignity-complex__text Ставки по ипотечным кредитам на покупку квартир в строящихся жилых объектах ниже, чем ставки по жилищным кредитам на вторичку. Разница в некоторых банках может варьироваться от 0,5 до 2% годовых. Более того, большинство льготных ипотечных программ, субсидируемых государством, распространяется только на первичный рынок.
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Технологии и комфорт
			.dignity-complex__text Квартира, купленная в новостройке, будет современной и комфортной, так как дом проектируется исходя из текущих тенденций и потребностей покупателей. Застройщики используют качественные строительные материалы и применяют передовые технологии. Все коммуникации в новом жилом доме рассчитаны под современный образ жизни: можно не переживать за количество бытовой техники, использовать всевозможные электроприборы, вы будете знать, что лифты в доме безопасны.
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Ремонт
			.dignity-complex__text Покупая квартиру в новом доме, вы не переплачиваете за чужой ремонт. Планировка, отделка – все можно с самого начала сделать под свои потребности и вкус. Многие застройщики предлагают возможность разработки индивидуальной планировки для покупателей, которые приобрели квартиру на раннем этапе строительства. Также на рынке можно найти выгодные предложения с ремонтом от застройщика.
.dignity-complex__col
	h2.dignity-complex__title Недостатки
	ul.dignity-complex__list
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit--grey', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Кот в мешке
			.dignity-complex__text Многие считают существенным недостатком квартир в новостройках отсутствие возможности физически их посетить, рассмотреть и т.д. В данном вопросе все зависит от ответственности застройщика, большинство девелоперов дорожат своей репутацией и стараются реализовывать проекты в соответствии с заявленными характеристиками. Кроме этого почти на всех стройках открываются демо-квартиры или целые демо-этажи, где наглядно демонстрируется будущее жилье и даже варианты меблировки.
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit--grey', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Ход строительства
			.dignity-complex__text Не все застройщики выдерживают первоначально объявленные сроки сдачи объектов. Несмотря на то, что средства дольщиков защищены, отставание от заявленного хода реализации может стать неприятным сюрпризом.
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit--grey', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Инфраструктура
			.dignity-complex__text Многие новостройки появляются в молодых или совсем новых районах города. На начальном этапе развития в кварталах может отсутствовать необходимая социальная или общественная инфраструктура. Это неудобство решается со временем.
		li.dignity-complex__item
			.dignity-complex__top
				+icon('icon-benefit--grey', 'dignity-complex__icon', '20', '20')
				h3.dignity-complex__name Ремонт
			.dignity-complex__text Как ни странно, но данный пункт относится как к плюсам, так и к минусам квартир в новостройках. Все дело в том, что кому-то может не подойти вариант, когда необходимо тратить дополнительные средства и время на обустройство. К тому же, в новостройке соседи также будут делать ремонт, поэтому уровень сопутствующего шума в первое время может быть существенным.
